/*Style Class: Header section*/
 .header {
     overflow: hidden;
     padding: 20px 10px;
     display: flex;
     margin-left: 10px;
     margin-top: 10px;
     padding-left: 35px
 }

 .header-center {
     display: flex;
     margin-left: 420px;
 }

 .header-button {
     background-color: rgb(34, 114, 148);
     font-size: 15px;
     color: white;
     border-radius: 20px;
     float: right;
     margin-left: 410px;
     border: none;
     background-color: rgb(68, 104, 225);
     height: 30px;
     width:80px;
 }